---
import Footer from "../../components/Footer/Footer.astro";
import Header from "../../components/Header.astro";
import PageHeader from "../../components/PageHeader.astro";
import CenteredMainLayout from "../../layouts/CenteredMainLayout.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="associate-director">
  <Header />
  <PageHeader section="Job Openings" title="Business Developmnent" />
  <CenteredMainLayout>
    <div>
      <h2>Manager/Associate Director, Portfolio/Project Management</h2>
      <h4>Job Description</h4>
      <p>
        As a part of our Business Development and Portfolio team, key
        responsibilities of this position include, but are not limited to:
      </p>
      <ul>
        <li>
          Driving portfolio decisions and new product launches for US territory
        </li>
        <li>
          Conduct US portfolio assessments on defined products and lead the
          communication with the cross functions management
        </li>
        <li>
          Responsible for the cross-functional launch project coordination
          within Prinston global network
        </li>
        <li>Support development of business cases</li>
      </ul>
      <h4>Job Duties</h4>
      <ul>
        <li>
          Managing cross-functional site activities associated with new product
          development from selection to commercial launch
        </li>
        <li>
          Chairs or co-chairs monthly Portfolio meetings and is responsible for
          documenting meeting minutes as well as tracking decisions, action
          items
        </li>
        <li>
          Identify critical project issues and risks, and provide timely
          communication to senior leadership
        </li>
        <li>
          Utilize project management best practices to efficiently manage
          project planning and execution
        </li>
        <li>
          Manages project communications and ensures all project stakeholders
          are fully informed and knowledgeable of project activities and their
          status
        </li>
        <li>Supports corporate initiatives as needed</li>
      </ul>

      <h4>Qualifications</h4>
      <ul>
        <li>
          Ability to influence and work well with others in a proactive and
          constructive manner
        </li>
        <li>
          Strong communication skills, both verbal and written, with all levels
          of an organization
        </li>
        <li>High degree of organization and attention to detail</li>
        <li>
          An independent self-starter with the ability to anticipate issues and
          identify and mitigate risks
        </li>
        <li>Business acumen and ability to understand overall strategy</li>
        <li>Ability to multitask and work in a diverse culture</li>
      </ul>
      <h4>Preferred Qualifications</h4>
      <ul>
        <li>
          Bachelor's degree in Chemistry, Biology, or other scientific or
          health-related field of study
        </li>
        <li>
          BA/BS with 5+ years of Pharmaceutical industry experience in a related
          field or MBA/MS plus 2+ years of relevant experience in a related
          field
        </li>
        <li>
          Prior experience in a regulated environment (pharmaceutical) preferred
        </li>
        <li>Fluent in Chinese is a plus</li>
      </ul>

      <h4>Benefits</h4>
      <ul>
        <li>401(k)</li>
        <li>Dental insurance</li>
        <li>Free parking</li>
        <li>Health insurance</li>
        <li>Paid sick time</li>
        <li>Paid time off</li>
        <li>Vision insurance</li>
      </ul>
    </div>
    <div>
      <h5>
        Please send your resume to jobs@prinstonpharm.com, with the job title in
        the subject.
      </h5>
    </div>
  </CenteredMainLayout>
  <Footer />
</Layout>
