---
import Footer from "../../components/Footer/Footer.astro";
import Header from "../../components/Header.astro";
import HeaderSpacer from "../../components/HeaderSpacer.astro";
import PageHeader from "../../components/PageHeader.astro";
import Spacer from "../../components/spacer.astro";
import CenteredMainLayout from "../../layouts/CenteredMainLayout.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Corporate Legal Intern">
  <HeaderSpacer />
  <Header />
  <PageHeader section="Job Openings" title="Legal Department Opening" />
  <Spacer />
  <CenteredMainLayout>
    <h2>Corporate Legal Intern</h2>
    <h4>About Us:</h4>
    <p>
      Prinston Pharmaceutical, Inc. is a fully integrated pharmaceutical company
      engaged in product development, product registration, manufacturing,
      marketing, and sales of high-quality, affordable generic prescription
      products to customers. We deliver and maintain high quality and integrity
      in all our products manufactured in world-class cGMP manufacturing
      facilities. Our highly experienced R&D team rapidly meets market needs
      through innovation, bringing cost-effective quality products to the US
      market and helping patients get the best pharmaceutical products while
      reducing their medical costs.
    </p>
    <p>
      This is an excellent opportunity to work on meaningful projects and
      exposure to a corporate environment.
    </p>
    <h4>Job Description:</h4>
    <p>
      The intern will work on a range of projects that will support the legal
      team.
    </p>

    <h4>Job Duties:</h4>
    <ul>
      <li>
        Prepare correspondence, reports, presentations and other materials.
      </li>
      <li>Perform legal research.</li>
      <li>Organize and analyze information and data.</li>
      <li>
        Review and monitor new and updated laws and regulations in relevant
        fields.
      </li>
      <li>
        Assist with reviewing, drafting and revising various contracts,
        including CDA, supply collaboration agreement, etc.
      </li>
      <li>Maintain procedures, forms, and legal policy documents.</li>
      <li>Assist with litigation and dispute resolution.</li>
      <li>Manage Intellectual property portfolios.</li>
      <li>Coordinate matters with Human Resources.</li>
      <li>Other duties may be assigned.</li>
    </ul>

    <h4>Qualifications:</h4>
    <ul>
      <li>
        Must be currently enrolled in a J.D. program at an accredited academic
        institution, preferably second or third-year law student.
      </li>
      <li>Prior corporate paralegal experience preferred.</li>
      <li>Prior experience in the pharmaceutical industry preferred.</li>
      <li>
        Strong organizational, customer service, and project management skills.
      </li>
      <li>Strong work ethic, positive attitude, and professional demeanor.</li>
      <li>Ability to work independently and as part of a team.</li>
      <li>Excellent verbal and written communication skills.</li>
      <li>Must be eligible to work in the U.S.</li>
    </ul>

    <h4>Job Type:</h4>
    <p>Internship</p>

    <h4>Pay:</h4>
    <p>$15.00 - $20.00 per hour</p>

    <h4>Expected Hours:</h4>
    <p>20 - 35 per week</p>

    <h4>Work Location:</h4>
    <p>Hybrid remote in Somerset, NJ 08873</p>
    <Spacer />
    <div>
        <h4>
          Please send your resume to jobs@prinstonpharm.com, with the job title in
          the subject.
        </h4>
      </div>
      <Spacer />
  </CenteredMainLayout>
  <Footer />


  <style>
    h4 {
      margin-bottom: 0px;
    }
    p {
      margin-top: 0px;
      font-size: 18px;
    }
    ul{
        margin-top: 0px;
    }
  </style>
</Layout>
