---
import Footer from "../../components/Footer/Footer.astro";
import Header from "../../components/Header.astro";
import HeaderSpacer from "../../components/HeaderSpacer.astro";
import PageHeader from "../../components/PageHeader.astro";
import Spacer from "../../components/spacer.astro";
import CenteredMainLayout from "../../layouts/CenteredMainLayout.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Director of Product Development">
  <HeaderSpacer />
  <Header />
  <PageHeader section="Job Openings" title="Research and Development Opening" />
  <Spacer />
  <CenteredMainLayout>
    <h2>Director of Product Development</h2>
    <h4>Job Description</h4>
    <p>
      Prinston Pharmaceutical Inc. is looking for a qualified candidate with
      pharmaceutical industry experience to take on the role of Director of
      Product Development to support its product R&D efforts.
    </p>

    <h4>Key Responsibilities:</h4>
    <ol>
      <li>
        Lead the Product Development (PD) department to develop new
        pharmaceutical products in the R&D product portfolio from project
        kickoff through commercialization. Activities include but not limited
        to:
        <ul>
          <li>
            Leverage understanding of the scientific principles of
            pharmaceutical sciences to design and develop finished dosage forms
            and manufacturing processes to achieve product development goals. At
            the current stage, the products are primarily generic drug products
            (ANDAs).
          </li>
          <li>
            Guide formulators to conduct literature search, formulation and
            manufacturing process development for new ANDA products following
            QbD principles.
          </li>
          <li>
            Review data, scientific literature and provide directions and
            solutions to solve product development problems.
          </li>
          <li>
            Work closely with analytical R&D counterpart to ensure that all
            methods development, brand drug product characterization studies,
            prototypes quality and stability testing, and establishment of
            product quality specifications are carried out in a timely manner to
            support successful new ANDA product development.
          </li>
        </ul>
      </li>
      <li>
        Provide leadership in technology transfer, manufacturing process
        scale-up and submission batch manufacturing.
        <ul>
          <li>
            Work closely with Technical Operations and Manufacturing team within
            Prinston Pharmaceutical and at CDMOs to conduct process scale-up
            studies and manufacturing of submission batches.
          </li>
          <li>
            Review/approve and supervise direct reports to review/approve batch
            records, protocols, in-process control/finished product
            specifications and reports for all products developed for ANDA
            filing with the FDA.
          </li>
        </ul>
      </li>
      <li>
        Support ANDA filing and Post-Approval Supplement initiatives.
        <ul>
          <li>
            Guide formulators to draft relevant sections of the ANDA documents
            for filing with the FDA.
          </li>
          <li>Review relevant sections of the ANDA documents for filing.</li>
          <li>
            Provide inputs and organize studies to generate data needed for
            developing responses to address the FDA ANDA deficiencies.
          </li>
          <li>
            Provide inputs to support PAS initiatives for approved products led
            by Product Management.
          </li>
        </ul>
      </li>
      <li>
        Lead and manage the control substance program at the Prinston
        Pharmaceutical R&D laboratories
        <ul>
          <li>
            Maintain control substance program status, including laboratory
            security, documents, and licenses related renewals and updates.
          </li>
        </ul>
      </li>
      <li>
        Manage the Product Development Laboratory
        <ul>
          <li>
            Ensure the safety guidelines are followed for all product
            development activities.
          </li>
          <li>
            Ensure the equipment capability and capacity are adequate and ready
            to support in-house product development projects.
          </li>
        </ul>
      </li>
      <li>
        Mentor and manage direct reports including handling their objectives
        setting and performance reviews.
      </li>
      <li>
        Provide scientific and technical input for new product evaluation to
        support Portfolio Management.
      </li>
    </ol>

    <h4>Requirements:</h4>
    <ul>
      <li>
        A self-motivated professional with strong verbal and writing skills who
        can effectively communicate with peers.
      </li>
      <li>
        Ph.D. in Pharmaceutics, Pharmaceutical Engineering, Chemistry, Chemical
        Engineering, or other relevant scientific fields.
      </li>
      <li>
        Oral solids dosage forms experience (i.e., immediate release, delayed
        release and extended release) required. Injectables and complex generic
        experience (i.e., injectables, topicals) are a plus.
      </li>
      <li>
        Working knowledge of major pharmaceutical processing technologies and
        cGMP requirements for different pharmaceutical dosage forms.
      </li>
      <li>DEA scheduled compound product development experience is a plus.</li>
    </ul>

    <h4>Benefits:</h4>
    <ul>
      <li>Medical, dental and vision insurance.</li>
      <li>401k match.</li>
    </ul>
    <Spacer />
    <div>
      <h4>
        Please send your resume to jobs@prinstonpharm.com, with the job title in
        the subject.
      </h4>
    </div>
  </CenteredMainLayout>
  <Spacer />
  <Footer />

  <style>
    h4 {
      margin-bottom: 0px;
    }
    p {
      margin-top: 0px;
      font-size: 18px;
    }
    ul {
      margin-top: 0px;
    }
  </style>
</Layout>
