---
import Footer from "../../components/Footer/Footer.astro";
import Header from "../../components/Header.astro";
import HeaderSpacer from "../../components/HeaderSpacer.astro";
import PageHeader from "../../components/PageHeader.astro";
import Spacer from "../../components/spacer.astro";
import CenteredMainLayout from "../../layouts/CenteredMainLayout.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="IT Director">
  <HeaderSpacer />
  <Header />
  <PageHeader section="Job Openings" title="Legal Department Opening" />
  <Spacer />
  <CenteredMainLayout >
  <h4>About the Company</h4>
  <p>
    Huahai US, together with its subsidiaries such as Prinston Pharmaceutical,
    Solco Healthcare, and Prinston Labs, are focused on the development,
    manufacturing, and marketing of generic pharmaceuticals. With a diverse
    range of generic prescription products in therapeutic categories like
    cardiovascular, central nervous system, anti-infectives, and pain
    management, we strive to meet the healthcare needs of our customers. With a
    robust pipeline of potential new products and adherence to FDA regulatory
    standards, we manufacture our products in state-of-the-art GMP facilities
    both in the US and overseas. In addition, we own an R&D facility in
    Somerset, NJ, and a manufacturing facility in Charlotte, NC.
  </p>
  <h4 class="section-title">The Position</h4>
  <p>
    We are currently seeking to fill the IT Director position. This role will
    act as a solution architect, lead a team of professionals and collaborate
    with various stakeholders to gather the business requirements, working with
    external partners and internal team to ensure the effective utilization of
    SAP and technology to maintain a stable IT system and infrastructure
    environment to support our day-to-day business operations and to drive
    continuous improvement. This position will be responsible for overseeing the
    system design, project implementation, and system maintenance. The IT
    Director will play a crucial role in aligning IT initiatives with the
    organization's goals and ensuring the system's optimal performance and
    functionality as well as working closely with the IT department head to
    strengthen the structure, procedures, and team’s skillsets.
  </p>
  <h4 class="section-title">Functional/Technical Lead</h4>
  <ul>
    <li>
      Lead the planning, design, configuration, and implementation of SAP ERP
      modules and functionalities, ensuring seamless integration with existing
      systems.
    </li>
    <li>
      Collaborate with cross-functional teams, including IT, finance,
      operations, and other business units, to define business requirements and
      translate them into effective SAP ERP solutions.
    </li>
    <li>
      Oversee the customization and configuration of SAP ERP modules, ensuring
      compliance with industry standards, security protocols, and regulatory
      requirements.
    </li>
    <li>
      Monitor system performance and infrastructure, conduct regular audits, and
      implement proactive measures to enhance system stability, security, data
      integrity, and user experience.
    </li>
    <li>Manage projects effectively using tools and technology.</li>
  </ul>
  <h4 class="section-title">System Maintenance and Support</h4>
  <ul>
    <li>
      Improve and enforce policies, procedures, and guidelines for SAP ERP
      system maintenance, including system upgrades, patches, and performance
      optimization.
    </li>
    <li>
      Lead the troubleshooting and resolution of SAP ERP-related issues, working
      closely with technical and functional teams and external vendors as
      necessary.
    </li>
    <li>
      Provide guidance and support to team members in resolving complex
      technical issues, developing innovative solutions, and staying up to date
      with SAP ERP advancements.
    </li>
    <li>
      Ensure the network infrastructure is secure and stable for the IT systems.
    </li>
  </ul>
  <h4 class="section-title">Stakeholder Management</h4>
  <ul>
    <li>
      Collaborate with key stakeholders to identify opportunities for leveraging
      SAP ERP functionalities to improve business processes, enhance operational
      efficiency, and support informed decision-making.
    </li>
    <li>
      Communicate effectively with senior management, department heads, and
      end-users to understand their needs, address concerns, and ensure maximum
      utilization and user adoption of SAP ERP.
    </li>
  </ul>
  <h4 class="section-title">Team Development and Management</h4>
  <ul>
    <li>
      Train, mentor, and evaluate the performance of the SAP ERP team members,
      fostering their professional growth and ensuring a high-performing team
      environment.
    </li>
    <li>
      Stay updated with the latest SAP ERP trends, technologies, and best
      practices, and assess their potential impact on the organization.
    </li>
    <li>
      Develop and execute the strategic vision for SAP ERP implementation and
      enhancement, aligned with the organization's overall goals and objectives.
    </li>
    <li>
      Conduct due diligence and negotiate contract renewal prices with vendors
      as needed.
    </li>
  </ul>
  <h4 class="section-title">Requirements</h4>
  <ul>
    <li>
      Bachelor’s degree in computer science, Information Systems, Business
      Administration, or a related field. Advanced degree preferred.
    </li>
    <li>
      Extensive experience (10+ years) hands-on experience in development,
      configuring, and managing SAP ERP systems, with a focus on core modules
      such as Order to Cash, Supply Chain, Finance- SAP Certificate is a plus.
    </li>
    <li>
      Strong leadership and project management skills with a proven track record
      of managing cross-functional teams and delivering successful SAP ERP
      projects.
    </li>
    <li>
      In-depth knowledge of SAP ERP system architecture, configuration,
      integration, and security.
    </li>
    <li>
      Proficiency in SAP technologies, tools, and methodologies, including SAP
      S/4HANA, ECC, Fiori, ABAP, and Solution Manager.
    </li>
    <li>
      Excellent analytical, problem-solving, and decision-making skills, with
      the ability to analyze complex business processes and translate them into
      SAP ERP solutions.
    </li>
    <li>
      Strong communication, interpersonal, and stakeholder management skills,
      with the ability to build effective relationships at all organizational
      levels.
    </li>
    <li>ABAP, SAP basis knowledge, and IT network knowledge is a plus.</li>
    <li>
      Experience in developing and implementing SAP ERP strategies, roadmaps,
      and governance frameworks.
    </li>
  </ul>
  <CenteredMainLayout >

</Layout>
<Spacer />
<Footer />

<style>
  p {
    font-size: 18px;
  }
</style>
