---
import Footer from "../../components/Footer/Footer.astro";
import Header from "../../components/Header.astro";
import PageHeader from "../../components/PageHeader.astro";
import Spacer from "../../components/spacer.astro";
import CenteredMainLayout from "../../layouts/CenteredMainLayout.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Paralegal">
  <Header />
  <PageHeader section="Job Openings" title="Legal Department Opening" />
  <Spacer />
  <CenteredMainLayout>
    <div>
      <h2>Paralegal</h2>
      <h4>Job Description</h4>
      <p>
        Paralegal will work on a range of projects that will support the legal
        team.
      </p>
      <h4>Job Duties</h4>
      <ul>
        <li>
          Prepare correspondence, reports, presentations, and other materials.
        </li>
        <li>Perform legal research.</li>
        <li>Organize and analyze information and data.</li>
        <li>
          Review and monitor new and updated laws and regulations in relevant
          fields.
        </li>
        <li>
          Assist with reviewing, drafting and revising various contracts,
          including CDA, supply collaboration agreement, etc.
        </li>
        <li>Maintain procedures, forms, and legal policy documents.</li>
        <li>Assist with litigation and dispute resolution.</li>
        <li>Manage Intellectual property portfolios.</li>
        <li>Coordinate matters with Human Resources.</li>
        <li>A corporate paralegal at a pharmaceutical manufacturer.</li>
        <li>
          In-house corporate legal support experience in both public and private
          company settings.
        </li>
        <li>
          Extensive knowledge of corporate governance, intellectual property,
          employment litigation and Human Resources related law.
        </li>
        <li>
          Prepares both material contracts and routine business agreements in
          all aspects of the business (e.g. MSA, SOWs, NDAs, CDAs, etc.)
        </li>
        <li>Other duties may be assigned.</li>
      </ul>
      <h4>Qualifications</h4>

      <ul>
        <li>B.A Degree.</li>
        <li>Prior corporate paralegal experience preferred.</li>
        <li>Prior experience in the pharmaceutical industry preferred.</li>
        <li>
          Strong organizational, customer service, and project management
          skills.
        </li>
        <li>
          Strong work ethic, positive attitude, and professional demeanor.
        </li>
        <li>Ability to work independently and as part of a team.</li>
        <li>Excellent verbal and written communication skills.</li>
        <li>Must be eligible to work in the U.S.</li>
      </ul>

      <h4>Benefits</h4>
      <ul>
        <li>401(k)</li>
        <li>Dental insurance</li>
        <li>Free parking</li>
        <li>Health insurance</li>
        <li>Paid sick time</li>
        <li>Paid time off</li>
        <li>Vision insurance</li>
      </ul>
    </div>
    <Spacer/>
    <div>
      <h4>
        Please send your resume to jobs@prinstonpharm.com, with the job title in
        the subject.
      </h4>
    </div>
  </CenteredMainLayout>
  <Spacer />
  <Footer />
</Layout>


<style>
  p{
    font-size: 18px;
  }
</style>