---
import Footer from "../../components/Footer/Footer.astro";
import Header from "../../components/Header.astro";
import PageHeader from "../../components/PageHeader.astro";
import Spacer from "../../components/spacer.astro";
import CenteredMainLayout from "../../layouts/CenteredMainLayout.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="SAP Functional Lead">
  <Header />
  <PageHeader section="Job Openings" title="Legal Department Opening" />
  <Spacer />
<CenteredMainLayout>
  <h2>About the Company</h2>
  <p>
    Huahai US, together with its subsidiaries such as Prinston Pharmaceutical,
    Solco Healthcare, and Prinston Labs, are focused on the development,
    manufacturing, and marketing of generic pharmaceuticals. With a diverse
    range of generic prescription products in therapeutic categories like
    cardiovascular, central nervous system, anti-infectives, and pain
    management, we strive to meet the healthcare needs of our customers. With a
    robust pipeline of potential new products and adherence to FDA regulatory
    standards, we manufacture our products in state-of-the-art GMP facilities
    both in the US and overseas. In addition, we own an R&D facility in
    Somerset, NJ, and a manufacturing facility in Charlotte, NC.
  </p>
  <h4 class="section-title">The Position</h4>
  <p>
    We are currently seeking to fill the IT SAP functional lead position. This
    role will act as SAP functional area architect, leading MM/PP/WM area, SD,
    or FICO area. The role will also collaborate with various stakeholders to
    gather the business requirements, working with external partners and
    internal team to ensure the effective utilization of SAP and technology to
    maintain a stable SAP environment to support our day-to-day business
    operations and to drive continuous improvement. This position will be
    responsible for overseeing the system design, project implementation, and
    system maintenance. This position will play a crucial role aligning IT
    initiatives with the organization's goals and ensuring the system's optimal
    performance and functionality as well as working closely with IT department
    head to strengthen the structure, procedures and team’s skillsets.
  </p>
  <h4 class="section-title">Functional/Technical Lead</h4>
  <ul>
    <li>
      Lead the planning, design, configuration, and implementation of SAP ERP
      modules and functionalities, ensuring seamless integration with existing
      systems.
    </li>
    <li>
      Solid knowledge of business process & best practices around MRP,
      production planning, material and warehouse management system or SD
      modules/ CO Modules.
    </li>
    <li>Manage Projects Effectively using tools and technology.</li>
    <li>
      Experience in creating Functional Specifications for ABAP developments and
      validating custom objects.
    </li>
    <li>
      Conduct system testing and support User Acceptance Testing (UAT) to ensure
      quality and functionality, proper documentations like training documents,
      SOPs.
    </li>
  </ul>
  <h4 class="section-title">System Maintenance and Support</h4>
  <ul>
    <li>
      Improve and enforce policies, procedures, and guidelines for SAP ERP
      system maintenance, including system upgrades, patches, and performance
      optimization.
    </li>
    <li>
      Lead the troubleshooting and resolution of SAP ERP-related issues, working
      closely with technical and functional teams and external vendors as
      necessary.
    </li>
    <li>
      Provide guidance and support to team members in resolving complex
      technical issues, developing innovative solutions, and staying up to date
      with SAP ERP advancements.
    </li>
  </ul>
  <h4 class="section-title">Stakeholder Management</h4>
  <ul>
    <li>
      Work closely with cross-functional teams to integrate SAP MM/WM with other
      SAP modules such as SD, MM, FI/CO.
    </li>
    <li>
      Collaborate with key stakeholders to identify opportunities for leveraging
      SAP ERP functionalities to improve business processes, enhance operational
      efficiency, and support informed decision-making.
    </li>
    <li>
      Communicate effectively with senior management, department heads, and
      end-users to understand their needs, address concerns, and ensure maximum
      utilization and user adoption of SAP ERP.
    </li>
  </ul>
  <h4 class="section-title">Team Development and Management</h4>
  <ul>
    <li>
      Train, mentor, and evaluate the performance of the SAP ERP team members,
      fostering their professional growth and ensuring a high-performing team
      environment.
    </li>
    <li>
      Stay updated with the latest SAP ERP trends, technologies, and best
      practices, and assess their potential impact on the organization.
    </li>
    <li>
      Collaborate with other members of the SAP support team, including
      developers, through all phases of the project life cycle including
      analysis, design, development, testing, deployment, and post-production
      support/maintenance.
    </li>
  </ul>
  <h4 class="section-title">Requirements</h4>
  <ul>
    <li>
      Bachelor’s degree in computer science, Information Systems, Business
      Administration, or a related field. Advanced degree preferred.
    </li>
    <li>
      Extensive experience (10+ years) hands-on experience in development,
      configuring, and managing SAP ERP systems, with a focus on core modules
      such as Order to Cash, Supply Chain, Finance- SAP Certificate is a plus.
    </li>
    <li>
      Strong leadership and project management skills with a proven track record
      of managing cross-functional teams and delivering successful SAP ERP
      projects.
    </li>
    <li>
      In-depth knowledge of SAP ERP system architecture, configuration,
      integration, and security.
    </li>
    <li>
      Proficiency in SAP technologies, tools, and methodologies, including SAP
      S/4HANA, ECC, Fiori, ABAP, and Solution Manager.
    </li>
    <li>
      Excellent analytical, problem-solving, and decision-making skills, with
      the ability to analyze complex business processes and translate them into
      SAP ERP solutions.
    </li>
    <li>
      Strong communication, interpersonal, and stakeholder management skills,
      with the ability to build effective relationships at all organizational
      levels.
    </li>
    <li>ABAP, SAP basis knowledge, and IT network knowledge is a plus.</li>
    <li>Strong in time and project management.</li>
  </ul>
</CenteredMainLayout>
<Spacer />
<Footer />
</Layout>

<style>
  p{
    font-size: 18px;
  }
</style>