---
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionMeta from "../components/SectionMeta.astro";
import CenteredMainLayout from "../layouts/CenteredMainLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <Header />
  <PageHeader
    section="About Us"
    title="About Prinston Pharmaceutical"
    subHeader="Serving the community since 2010"
    url="/prinston/hero2.jpg"
  />
  <CenteredMainLayout>
    <!-- <SectionMeta
      section="Company Profile"
      title="About Prinston Pharmaceutical"
      subHeader="Serving the community since 2010"
    /> -->
    <div id="main-about">
      <div class="main-column">
        <h2>What We Do</h2>
        <p>
          Prinston Pharmaceutical is a pharmaceutical company that specializes
          in generics pharmaceutical products. We specialize in complex sterile
          and non-sterile dosage forms, including: injectables, topicals,
          tablets and capsules. We offer cardiovascular, central neurological
          system, anti inflammation and other medicines.
        </p>

        <p>
          Our mission is to provide customers with high quality, affordable and
          innovative generic pharmaceutical drugs.
        </p>

        <h2>Our History</h2>
        <p>
          Before Prinston Pharmaceutical was incorporated, Prinston
          Pharmaceutical's parent company Huahai US was founded in Cranbury, New
          Jersey in 2004. In 2007, the first Chinese developed pharmaceutical
          product was approved for sale in the US. In 2008, Huahai US's first
          generic pharmaceutical "Benazepril" was launched in the US.
          <br />
        </p>
        <p>
          To address the rapidly growing size of its operations, Huahai US
          founded Prinston Pharmaceutical in 2010 to reorganize its divisions
          and streamline US operations. Subsequently, Solco Healthcare was
          acquired in 2012 followed shortly in 2013 with the release of Prinston
          Pharmaceutical's first delayed release product. Finally in 2017,
          Prinston Laboratories was acquired to serve as the main manufacturing
          facility.
          <br />

          <br />
          To accomplish its mission, Prinston Pharmaceutical makes use of several
          subsidiaries. Prinston Pharmaceutical serves as the parent company and
          is responsible for research and devleopment. Solco Healthcare serves as
          the sales and marketing arm, Prinston Laboratories serves as the US manufacturing
          site and Huahai US serves as the API sales office.
          <br />
        </p>
        <h2>Our Company Structure</h2>
        <h4>Prinston Laboratories</h4>
        <p class="structure-text">
          Prinston Laboratories is the US Manufacturing site and also serves as
          the previous par/qualitest facility. Prinston Laboratories was
          acquired in 2017.
        </p>
        <h4>Solco Healthcare</h4>
        <p class="structure-text">
          Solco healthcare is the saled and marketing division of Prinston
          Pharmaceutical. It was acquired in 2012.
        </p>
      </div>
      <div class="main-column" id="image-section">
        <img src="/prinston/first-shipment.jpg" />
      </div>
    </div>
  </CenteredMainLayout>
</Layout>
<Footer />

<style>
  img {
    /* margin-left: 4rem; */
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  h4 {
    margin-bottom: 0;
  }
  .structure-text {
    margin-top: 0px;
  }

  #main-about {
    display: flex;
  }
  #image-section {
    padding-left: 1rem;
  }
  .main-column {
    width: 50%;
  }
  @media screen and (max-width: 820px) {
    #main-about {
      flex-direction: column-reverse;
    }
    .main-column {
      width: 100%;
    }
    #image-section {
      padding: 0;
    }
  }
</style>
