---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionMeta from "../components/SectionMeta.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <Header />
  <PageHeader url="/prinston/hero2.jpg" />
  <main>
    <SectionMeta
      section="Company Profile"
      title="About Prinston Pharmaceutical"
      subHeader="Serving the community since 2010"
    />
    <div id="main-about">
      <div class="main-column">
        <h2></h2>
        <p>
          Prinston Pharmaceutical was incorporated in 2010 with the mission to
          provide customers with high quality, affordable and innovative generic
          pharmaceutical drugs. <br />
          <br /> We offer cardiovascular, central neurological system, anti inflammation
          and other medicines.
          <br /><br />To accomplish its mission, Prinston Pharmaceutical makes
          use of several subsidiaries. Prinston Pharmaceutical develops and
          markets its generic pharmaceutical drugs through Solco Healthcare.
          Drug products are manufactured in its Charlotte, NC facility or in
          facilities overseas.
        </p>
      </div>
      <div class="main-column">
        <img src="/prinston/medicine.jpg" />
      </div>
    </div>
  </main>
  <Footer />
</Layout>
<style>
  img {
    padding-left: 4rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  main {
    margin: 4rem auto 4rem auto;
    padding: 1rem;
    width: 70%;
    max-width: calc(100%);
  }
  #main-about {
    display: flex;
  }
  .main-column {
    width: 50%;
  }
</style>
