---
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionMeta from "../components/SectionMeta.astro";
import Spacer from "../components/spacer.astro";
import CenteredMainLayout from "../layouts/CenteredMainLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <Header />
  <PageHeader
    section="About Us"
    title="About Prinston Pharmaceutical"
    subHeader="Serving the community since 2010"
    url="/prinston/hero2.jpg"
  />
  <Spacer />
  <CenteredMainLayout>
    <!-- <SectionMeta
      section="Company Profile"
      title="About Prinston Pharmaceutical"
      subHeader="Serving the community since 2010"
    /> -->
    <div id="main-about">
      <div class="main-column" id="with-image">
        <div class="inner-column" id="what-we-do">
          <h2>What We Do</h2>
          <p>
            Prinston Pharmaceutical is a pharmaceutical company that specializes
            in generics pharmaceutical products. We specialize in complex
            sterile and non-sterile dosage forms, including: injectables,
            topicals, tablets and capsules. We offer cardiovascular, central
            neurological system, anti inflammation and other medicines.
          </p>
          <p>
            Our mission is to provide customers with high quality, affordable
            and innovative generic pharmaceutical drugs.
          </p>
        </div>
        <div id="image-section" class="inner-column">
          <img src="/prinston/first-shipment.jpg" />
        </div>
      </div>
      <div class="main-column" id="with-image-2">
        <div id="image-section-2" class="inner-column">
          <img src="/prinston/staff.jpg" />
        </div>
        <div class="inner-column" id="our-history">
          <h2>Our History</h2>
          <p>
            Before Prinston Pharmaceutical was incorporated, Prinston
            Pharmaceutical's parent company Huahai US was founded in Cranbury,
            New Jersey in 2004. In 2007, the first Chinese developed
            pharmaceutical product was approved for sale in the US. In 2008,
            Huahai US's first generic pharmaceutical "Benazepril" was launched
            in the US.
            <br />
          </p>
          <p>
            To address the rapidly growing size of its operations, Huahai US
            founded Prinston Pharmaceutical in 2010 to reorganize its divisions
            and streamline US operations. Subsequently, Solco Healthcare was
            acquired in 2012 followed shortly in 2013 with the release of
            Prinston Pharmaceutical's first delayed release product. Finally in
            2017, Prinston Laboratories was acquired to serve as the main
            manufacturing facility.
            <br />

            <br />
            To accomplish its mission, Prinston Pharmaceutical makes use of several
            subsidiaries. Prinston Pharmaceutical serves as the parent company and
            is responsible for research and devleopment. Solco Healthcare serves
            as the sales and marketing arm, Prinston Laboratories serves as the US
            manufacturing site and Huahai US serves as the API sales office.
            <br />
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="main-column" id="image-section">
        <img src="/prinston/first-shipment.jpg" />
      </div> -->
  </CenteredMainLayout>
</Layout>
<Spacer />
<Spacer />
<Spacer />
<Footer />

<style>
  #with-image {
    display: flex;
  }
  #with-image-2 {
    display: flex;
    margin-top: 6rem;
  }

  #what-we-do {
    margin-right: 3rem;
  }

  #our-history {
    width: 50%;
  }
  #image-section {
    margin-left: 3rem;
  }

  #image-section-2 {
    margin-right: 6rem;
  }
  img {
    /* margin-left: 4rem; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    font-weight: 500;
    margin: 0;
  }

  h4 {
    font-weight: 700;
    margin-bottom: 0;
  }

  p {
    font-size: 20px;
  }

  .structure-text {
    margin-top: 0px;
  }

  #main-about {
    display: flex;
    flex-direction: column;
  }

  .main-column {
    width: 100%;
    margin: 3rem 0;
  }

  .inner-column {
    width: 50%;
  }
  @media screen and (max-width: 1327px) {
    #with-image {
      flex-direction: column-reverse;
    }
    #with-image-2{
      flex-direction: column;
    }

    #image-section-2{
      margin-right: 0;
    }

    #our-history {
      width: 100%;
      margin-right: 0;
    }
    .inner-column {
      width: 100%;
    }
    .main-column {
      width: 100%;
    }
    #image-section {
      margin-left: 0;
      margin-bottom: 3rem;
    }
    #image-section-2{
      margin-bottom: 3rem;
    }
  }
</style>
