---
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header.astro";
import HeaderSpacer from "../components/HeaderSpacer.astro";
import PageHeader from "../components/PageHeader.astro";
import Spacer from "../components/spacer.astro";
import CenteredMainLayout from "../layouts/CenteredMainLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Careers">
  <HeaderSpacer />
  <Header />
  <PageHeader section="" title="Contact Us" />
  <Spacer />
  <CenteredMainLayout>
    <div class="contact">
      <h2>Customer Support</h2>
      <p>(866) 931-9829</p>
      <p>customers@prinstonpharm.com</p>
    </div>
    <div class="contact">
      <h2>Sales</h2>
      <p>(866) 931-9829</p>
      <p>sales@prinstonpharm.com</p>
    </div>
    <div class="contact">
      <h2>Business Development</h2>
      <p>(314) 651-3647</p>
      <p>businessopporunities@prinstonpharm.com</p>
    </div>
    <div class="contact">
      <h2>Human Resources</h2>
      <p>(609) 655-1688 Extension: 6160</p>
      <p>hr@prinstonpharm.com</p>
    </div>
  </CenteredMainLayout>
  <Spacer />
  <Spacer />
  <Footer />
</Layout>

<style>
  h2 {
    font-weight: 500;
    margin-bottom: 0;
  }
  p {
    white-space: pre-line;
    margin: 0;
  }

  .contact {
    margin-bottom: 48px;
  }
</style>
