---
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header.astro";
import PageHeader from "../components/PageHeader.astro";
import Person from "../components/person.astro";
import SectionMeta from "../components/SectionMeta.astro";
import Layout from "../layouts/Layout.astro";
import CenteredMainLayout from "../layouts/CenteredMainLayout.astro";
import Spacer from "../components/spacer.astro";

const people = [
  {
    image: "/prinston/temp.webp",
    url: "/prinston/leadership/bin-he",
    name: "Bin He",
    job: "Chairman and CEO",
  },
  {
    image: "/prinston/chris.png",
    url: "/prinston/leadership/chris-keith",
    name: "Chris Keith",
    job: "Chief Revenue Officer",
  },
  {
    image: "/prinston/gary.png",
    url: "/prinston/leadership/gary-xu",
    name: "Gary Xu",
    job: "Chief Financial Officer",
  },
  {
    image: "/prinston/bob.png",
    url: "/prinston/leadership/bob-rodowicz",
    name: "Bob Rodowicz",
    job: "Vice President of Commercial Strategy and Operations",
  },
  {
    image: "/prinston/david.png",
    url: "/prinston/leadership/david-ayres",
    name: "David Ayres",
    job: "Vice President of Sales",
  },
  {
    image: "/prinston/hongchun.jpg",
    url: "/prinston/leadership/hong-chun",
    name: "Hong Chun Qiu",
    job: "Head of Research & Development",
  },
  {
    image: "/prinston/lijie.jpg",
    url: "/prinston/leadership/lijie-wang",
    name: "Lijie Wang",
    job: "Senior Vice President and Head of Regulatory Affairs and Quality Assurance",
  },
  {
    image: "/prinston/ross.jpg",
    url: "/prinston/leadership/ross-loftis",
    name: "Ross Loftis",
    job: "Site Head and Vice President of Manufacturing",
  },
  {
    image: "/prinston/jonathan.webp",
    url: "/prinston/leadership/jonathan-jung",
    name: "Jonathan Jung",
    job: "General Counsel",
  },
];
---

<Layout title="Leadership">
  <Header />
  <PageHeader
    url="/prinston/labs.webp"
    section="About Us"
    title="Meet Our Leadership"
    subHeader="Prinston Pharmaceutical is comprised of several subsidiaries. Solco Healthcare is the marketing organization for Prinston Pharmaceuticals and Prinston Laboratories is the manufacturing organization"
  />
  <Spacer />
  <CenteredMainLayout>
    <div class="mobile"> <Spacer /></div> 
    <div id="main-about">
      {people.map((person, index) => <Person index={index} {...person} />)}
    </div>
    <Spacer />
  </CenteredMainLayout>
  <Spacer />
  <Footer />
</Layout>
<style>
  #main-about {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 1em; */
    /* justify-content: space-between; */
    /* margin: 3rem -1em; */
    /* width: 100%; */
    display: grid;
    justify-content: space-between;
    /* column-gap: 1em; */
    row-gap: 3em;
    grid-template-columns: repeat(3, calc((100% / 3) - (2em / 3)));
    max-width: 1100px;
    margin: auto;
  }

  @media screen and (max-width: 560px) {
    #main-about {
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    .mobile{
      display: none;
    }
  }
</style>
