---
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header.astro";
import PageHeader from "../components/PageHeader.astro";
import CareerTab from "../components/careerTab.astro";
import CareerTab2 from "../components/careerTab2.astro";
import Spacer from "../components/spacer.astro";
import CenteredMainLayout from "../layouts/CenteredMainLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Careers">
  <Header />
  <PageHeader section="Careers" title="We're Hiring!" />
  <Spacer />
  <CenteredMainLayout>
    <h1>Open Positions</h1>
    <p>To apply, please send your resume to hr@prinstonpharm.com</p>
    <div class="content">
   
      <CareerTab
        department="Legal"
        positions={[
          {
            name: "Paralegal",
            link: "paralegal",
          },
        ]}
      />
      <CareerTab
        department="Business Development"
        positions={[
          {
            name: "Manager/Associate Director, Portfolio/Project Management",
            link: "associate-director",
          },
        ]}
        isFirst={"true"}
      />
    </div>
    <Spacer />
  </CenteredMainLayout>
  <Spacer />
  <Spacer />
  <Footer />
</Layout>
<style>
  h1 {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 4rem;
  }
  .content {
    min-height: 50vh;
    max-width: 1026px;
  }
</style>

<script>
  const ids = [
    "Legal",
    "Business Development",
    "Human Resources",
    "Research",
    "Accounting",
  ];
  const buttons = ids.map((id) => {
    return { id, button: document.getElementById(id) };
  });
  buttons.forEach((object) => {
    object.button.addEventListener("click", (element) => {
      console.log("click");
      const innerDiv = document.getElementById(object.id + "-contents");
      const plus = document.getElementById(object.id + "-plus");
      const minus = document.getElementById(object.id + "-minus");
      if (innerDiv.style.display === "none" || innerDiv.style.display === "") {
        innerDiv.style.display = "flex";
        plus.style.display = "none";
        minus.style.display = "inline";
      } else {
        innerDiv.style.display = "none";
        plus.style.display = "inline";
        minus.style.display = "none";
      }
    });
  });
  // const button = document.getElementById("department");
  // button.addEventListener("click", (element) => {
  //   const innerDiv = document.getElementById("contents");
  //   const plus = document.getElementById("plus");
  //   const minus = document.getElementById("minus");
  //   if (innerDiv.style.display === "none" || innerDiv.style.display === "") {
  //     innerDiv.style.display = "flex";
  //     plus.style.display = "none";
  //     minus.style.display = "inline";
  //   } else {
  //     innerDiv.style.display = "none";
  //     plus.style.display = "inline";
  //     minus.style.display = "none";
  //   }
  // });
</script>
