---
// import { BASE } from "../constants";
import Button from "./Button.astro";
import SectionMeta from "./SectionMeta.astro";
import Spacer from "./spacer.astro";
const BASE = "/";
const careersImage = BASE + "Careers.png";
---

<div id="careers">
  <Spacer />

  <div id="careers-content">
    <div id="content-left">
      <SectionMeta
        section="Open Positions"
        title="Join Our Rapidly Expanding Team"
      />
      <p id="section-description">
        Something about what opportunities/why it's a great company to join.
        For example, this is a fast growing company with year over year growth.
        We have acquired multiple companies in the span of just a few years to
        supplement our new ventures.
      </p>
      <Button text="See Openings" url="/careers" />
    </div>
    <div id="content-right">
      <img src={careersImage} />
      <p id="image-desc">
        We believe fostering a friendly team environment not only brings out the
        best in employees but also the best in our performance. At Prinston
        Pharmaceuticals we truly are in the business together as a family.
      </p>
    </div>
  </div>
  <Spacer />
</div>
<style>
  #careers {
    /* width: 100%; */
    background-color: aliceblue;
    /* padding-top: 48px; */
    /* padding-bottom: 48px; */
    /* padding: 4rem 0; */
  }

  #careers-content {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: calc(100% - 40px);
  }

  #content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 1rem;
    justify-content: center;
    margin-right: 2rem;
  }

  #section-description {
    margin-bottom: 48px;
    font-size: 20px;
  }

  #image-desc {
    font-size: 16px;
    color: rgb(102, 102, 102);
  }

  #content-right {
    padding-left: 1rem;
    width: 50%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
  @media (min-width: 48rem) {
    #careers-content {
      max-width: calc(100% - 64px);
    }
    #content-left {
      margin-right: 0rem;
      padding-right: 0;
    }
  }

  @media (min-width: 64rem) {
    #careers-content {
      max-width: calc(100% - 128px);
    }
    #content-left {
      margin-right: 0rem;
      padding-right: 0;
    }
  }

  @media (min-width: 90rem) {
    #careers-content {
      max-width: calc(100% - 192px);
    }
    #content-left {
      margin-right: 0rem;
      padding-right: 0;
    }
  }

  @media (min-width: 104rem) {
    #careers-content {
      max-width: 1552px;
    }

    .hero-columns {
      width: 40%;
    }
    #content-left {
      margin-right: 0rem;
      padding-right: 0;
    }
  }

  @media screen and (max-width: 900px) {
    #careers {
      padding: 48px 0;
    }
    #content-left {
      width: 100%;
      margin-right: 0rem;
      padding-right: 0;
    }
    #content-right {
      display: none;
    }
  }
</style>
