---
const { header, body } = Astro.props;
---

<div class="content-section">
  <h4>
    {header}
  </h4>

  {body.map((text) => <p>{text}</p>)}
</div>
<style>
  .content-section {
    display: flex;
    flex-direction: column;
  }
  h4 {
    margin-bottom: 0;
  }
</style>
