---
const { title, menuData, type } = Astro.props;
---

<div class="menu-container">
  <!-- <h3>{title}</h3> -->
  <div class="dropdown-list">
    {menuData.map(({ label, url }) => <a href={url}>{label}</a>)}
  </div>
</div>
<style>
  .menu-container {
    display: block;
    /* flex-direction: column; */
    position: absolute;
    background-color: white;
    padding: 2rem 2rem 2rem 2rem;
    min-width: 25rem;
    /* right: 12rem; */
    margin-top: 3rem;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .dropdown-list {
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 18px;
    color: #36469c;
    margin: 0 0 0.5em 0;
  }
  a {
    text-decoration: none;
    color: inherit;
    margin: 0.5em 0;
    font-size: 18px;
  }
</style>
<script></script>
