---
const address = [
  {
    location: "Prinston Pharm - HQ",
    address: "700 Atrium Dr, Suite B, Somerset, NJ 08873",
    phone: "(609) 655-1688",
    email: "contact@prinstonpharm.com",
  },
  {
    location: "Prinston Labs - Manufacturing",
    address: "3241 Woodpark Boulevard Charlotte, NC 28206",
    phone: "(609) 655-1688",
    email: "customerservice@solcohealthcare.com",
  },
  {
    location: "Solco - Distribution Lab and Manufacturing",
    address: "700 Atrium Dr. Suite A, Somerset, NJ 08873",
    phone: "(855)-581-9688",
    email: "customerservice@solcohealthcare.com",
  },
  {
    location: "Huahai U.S. Inc.",
    address: "700 Atrium Dr, Suite C, Somerset, NJ 08873",
    phone: "(609) 664-2220",
    email: "effie_luo@huahaipharm.com",
  },
];
---

<div id="footer">
  <div id="info">
    <h3 id="info-locations">Our Contact Info</h3>
    {
      address.map(({ location, address, phone, email }) => (
        <div class="info-column">
          <div class="info-type">
            <h3 class="locations">{location}</h3>
          </div>
          <div class="info-type">
            <img src="/prinston/location.png" />
            <p>{address}</p>
          </div>
          <div class="info-type">
            <img class="phone" src="/prinston/phone.png" />
            <p>{phone}</p>
          </div>
          <div class="info-type">
            <img class="mail" src="/prinston/mail.png" />
            <p>{email}</p>
          </div>
        </div>
      ))
    }
  </div>
  <div id="credit">
    <span>
      <a target="_blank" href="https://icons8.com/icon/12580/email">Mail</a> icon
      by
      <a target="_blank" href="https://icons8.com">Icons8</a>
    </span>
    <a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons"
      >Arrow icons created by Freepik - Flaticon</a
    >
  </div>
</div>

<style>
  p {
    font-weight: 100;
    font-size: 16px;
    margin: 0;
    color: rgb(192, 206, 253);
  }

  a {
    color: #8e8db6;
  }

  img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  #footer {
    display: flex;
    flex-direction: column;
    background-color: #211f71;
    padding-top: 4rem;
    /* padding-bottom: 4rem; */
  }
  #info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4rem;
  }

  #credit {
    display: flex;
    justify-content: center;
    color: #8e8db6;
    margin-top: 5rem;
  }

  #info-locations {
    font-weight: bold;
    font-size: 16px;
    /* font-weight: 100; */
    color: white;
  }

  .info-type {
    display: flex;
    align-items: center;
  }

  .locations {
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-bottom: 0;
  }
  .mail,
  .phone {
    padding-top: 3px;
  }

  @media screen and (max-width: 751px) {
    #info {
      margin-left: 0;
    }
    #info-locations {
      padding: 0 1em;
    }
    .info-column {
      padding: 0.1em 1em;
    }
    #credit {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
