---
import Button from "./Button.astro";

---

<div id="hero-image-container">
  <div class="hero-columns">
    <h2>The Community's Partner in Affordable Generics</h2>
    <h4>
      Providing high quality, accessible generic pharmaceuticals for decades.
    </h4>
    <div id="button-column">
      <Button text="Learn More" url="/prinston/about" color="white" />
    </div>
  </div>
  <div class="hero-columns" id="empty-columns"></div>
</div>

<style>
  #hero-image-container {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(
        125deg,
        rgba(107, 19, 17, 0.75),
        rgba(8, 83, 156, 0.75)
      ),
      url("/prinston/generic.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    /* flex-basis: 100%; */
    box-sizing: border-box;
  }

  #hero-image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }

  .hero-columns {
    /* height: 70vh; */
    /* padding: 4rem; */
    width: 50%;
    /* background: green; */
    position: absolute;
  }
  #button-column {
    padding-left: 6rem;
  }

  #empty-columns {
    display: none;
  }

  h2 {
    font-size: 64px;
    font-weight: 300;
    color: white;
    line-height: 1;
    padding-left: 6rem;
  }
  h4 {
    color: white;
    font-size: 24px;
    font-weight: 100;
    padding-left: 6rem;
  }

  /* @media screen and(max-width: 452px) and (min-width: 726px) {
    .hero-columns {
      width: 75%;
      h4 {
        color: red;
      }
    }
  } */

  @media screen and (max-width: 1200px) and (min-width: 891px) {
    .hero-columns {
      width: 70%;
      color: aliceblue;
      h2 {
        font-size: 64px;
        padding: 0 3rem;
      }
      h4 {
        padding: 0 3rem;
      }
    }
    #button-column {
      padding: 0 3rem;
    }

    #empty-columns {
      display: none;
    }
  }

  @media screen and (max-width: 890px) and (min-width: 681px) {
    .hero-columns {
      width: 100%;
      color: aliceblue;
    }
    #button-column {
      padding: 0 1rem;
    }

    #empty-columns {
      display: none;
    }
    h2 {
      font-size: 42px;
      padding: 0 1rem;
    }
    h4 {
      padding: 0 1rem;
    }
  }

  @media screen and (max-width: 680px) and (min-width: 521px) {
    .hero-columns {
      width: 70%;
    }
    #button-column {
      padding: 0 1rem;
    }

    #empty-columns {
      display: none;
    }

    h2 {
      font-size: 42px;
      padding: 0 1rem;
    }
    h4 {
      padding: 0 1rem;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 520px) {
    #hero-image-container {
      height: 60vh;
    }
    .hero-columns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 0;
    }

    #button {
      /* margin: 1em; */
      padding: 0;
    }
    #button-column {
      padding: 0 1rem;
    }

    #empty-columns {
      display: none;
    }

    h2 {
      font-size: 36px;
      margin: 0.5em;
      padding: 0;
    }

    h4 {
      margin: 1em;
      padding: 0;
      font-size: 20px;

    }
  }
</style>

