---

---

<div id="image-divider">
  <div id="quote">
    <h2>
      We make a healthy and happy life more equitable by democritizing critical
      medicines to everyday people.
    </h2>
  </div>
  <div id="image">
    <img src="/prinston/quote.png" />
  </div>
</div>
<style>
  #image-divider {
    display: flex;
    width: 100%;
    height: 400px;
    /* position: absolute; */
    /* left: 0; */
    background-color: #211f71;
    margin-top: 200px;
  }
  #quote {
    width: 50%;
    margin: auto 1.5rem auto 1.5rem;
    h2 {
      color: white;
      font-weight: 100;
    }
  }
  #image-container {
    width: 50%;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
</style>
