---
const { url, section, title, subHeader } = Astro.props;
---

<div id="page-header">
  <!-- <img src={url} /> -->
  <div id="header-content">
    <h1>{section}</h1>
    <h2>{title}</h2>
    {subHeader && <h5>{subHeader}</h5>}
  </div>
</div>
<style>
  #page-header {
    /* height: 200px; */
    width: 100%;
    background: linear-gradient(
      125deg,
      rgba(107, 19, 17, 0.75),
      rgba(8, 83, 156, 0.75)
    );
  }

  #header-content {
    width: 85%;
    margin: auto;
    padding: 6em 1rem;
  }
  h1 {
    font-size: 18px;
    font-weight: 400;
    color: rgba(235, 209, 209, 0.75);
    margin-top: 0;
  }
  h2 {
    font-size: 64px;
    width: fit-content;
    color: rgb(255, 255, 255);
    font-weight: 100;
    margin: 0;
  }
  h5 {
    font-size: 28px;
    font-weight: 100;
    margin: 1em 0 0 0;
    color: white;
  }

  @media screen and (max-width: 890px) {
    h1 {
      font-size: 14px;
    }
    h2 {
      font-size: 36px;
    }
    h5 {
      font-size: 18px;
    }

    #header-content {
      padding: 4em 1rem;
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 891px) {
    h2 {
      font-size: 48px;
    }
    h5 {
      font-size: 24px;
    }

    #header-content {
      padding: 4em 1rem;
    }
  }

  /* img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
</style>
