---
const { url, section, title, subHeader } = Astro.props;
---

<div id="background">
  <div id="page-header">
    <!-- <img src={url} /> -->
    <div id="header-content">
      <h1>{section}</h1>
      <h2>{title}</h2>
      {subHeader && <h5>{subHeader}</h5>}
    </div>
  </div>
</div>
<style>
  #page-header {
    /* height: 200px; */
    width: 100%;
    background: linear-gradient(
      145deg,
      rgb(105, 14, 12),
      rgba(37, 0, 97, 0.9),
      rgba(8, 83, 156, 0.8)
    );
  }
  #background {
    /* background-color:  rgba(107, 19, 17, 1); */
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg  fill='%23ff0000' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  #header-content {
    /* max-width: 1600px; */
    width: 100%;
    margin: auto;
    padding: 6rem 0;
  }
  h1 {
    font-size: 18px;
    font-weight: 400;
    color: rgba(235, 209, 209, 0.75);
    margin: 0;
  }
  h2 {
    font-size: 64px;
    width: fit-content;
    color: rgb(255, 255, 255);
    font-weight: 100;
    margin: 0;
  }
  h5 {
    font-size: 28px;
    font-weight: 100;
    margin: 0em 0 0 0;
    color: rgb(221, 221, 221);
  }

  @media screen and (max-width: 890px) {
    h1 {
      font-size: 14px;
    }
    h2 {
      font-size: 36px;
    }
    h5 {
      font-size: 18px;
    }

    #header-content {
      padding: 2em 1rem;
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 891px) {
    h2 {
      font-size: 48px;
    }
    h5 {
      font-size: 24px;
    }

    #header-content {
      padding: 2.5em 1rem;
    }
  }

  @media (min-width: 48rem) {
    #header-content {
      max-width: calc(100% - 64px);
    }
  }

  @media (min-width: 64rem) {
    #header-content {
      max-width: calc(100% - 128px);
    }
  }

  @media (min-width: 90rem) {
    #header-content {
      max-width: calc(100% - 192px);
    }
  }

  @media (min-width: 104rem) {
    #header-content {
      max-width: 1552px;
    }

    .hero-columns {
      width: 40%;
    }
  }
</style>
