---
const { image, name, job, url } = Astro.props;
---

<div class="person-container">
  <a href={url}>
    <div class="image-container">
      <img class="image" src={image} />
    </div>
    <h2>{name}</h2>
    <h4>{job}</h4>
  </a>
</div>

<style>
  .person-container {
    /* flex: 1 1 0px;
    margin: 0 1em; */
    /* grid-column-start: 1;
    grid-column-end: 3; */
  }
  .image-container {
    /* width: 275px; */
    /* height: 350px; */
    /* max-width: 350px; */
    overflow: hidden;
    aspect-ratio: 3/4;
  }
  a {
    text-decoration: none;
  }
  h2 {
    margin-bottom: 0;
    font-weight: 400;
  }
  h4 {
    margin-top: 0;
    font-weight: 100;
  }
  .image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  /* @media screen and (max-width: 686px) and (min-width: 1000px) {
    .person-container {
      margin-bottom: 3em;
      width: 100%;
    }
    .image-container {
      min-width: 100%;
      width: 100%;
      height: auto;
 
      overflow: hidden;
    }
  } */
  @media screen and (max-width: 685px) {
    .person-container {
      margin-bottom: 3em;
      width: 100%;
    }
    .image-container {
      min-width: 100%;
      width: 100%;
      height: auto;
      /* height: 350px; */
      /* max-width: 350px; */
      overflow: hidden;
    }
  }
</style>
