---
const { image, name, job, url } = Astro.props;
---

<div class="person-container">
  <a href={url}>
    <div class="image-container">
      <img src={image} />
    </div>
    <h2>{name}</h2>
    <h4>{job}</h4>
  </a>
</div>

<style>
  .person-container {
  }
  .image-container {
    width: 275px;
    height: 350px;
    max-width: 350px;
    overflow: hidden;
  }
  a {
    text-decoration: none;
  }
  h2 {
    width: 275px;
    margin-bottom: 0;
    font-weight: 400;
  }
  h4 {
    width: 275px;
    margin-top: 0;
    font-weight: 100;
  }
  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
</style>
