---
const { section, title, subHeader } = Astro.props;
---

<div>
  <h1>{section}</h1>
  <h2>{title}</h2>
  {subHeader && <h5>{subHeader}</h5>}
</div>
<style>
  h1 {
    color: #36469c;
    font-size: 20px;
    margin: 0;
  }
  h2 {
    font-size: 48px;
    font-weight: 400;
    margin: 0px;
  }
  h5 {
    font-size: 20px;
    font-weight: 400;
    color: gray;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 16px;
    }
    h2 {
      font-size: 34px;
    }
    h5 {
      font-size: 16px;
    }
  }
</style>
