---
const { location, address, phone, email } = Astro.props;
---

<div class="info-column">
  <div class="info-type-row">
    <h3 class="locations">{location}</h3>
  </div>
  <div id="location-row" class="info-type-row">
    <img class="location-image" src="/prinston/location.png" />
    <p>{address}</p>
  </div>
  <div class="info-type-row">
    <img class="phone" src="/prinston/phone.png" />
    <p class="phone-number">{phone}</p>
  </div>
  <div class="info-type-row">
    <img class="mail" src="/prinston/mail.png" />
    <p>{email}</p>
  </div>
</div>
<style>
  p {
    font-weight: 100;
    font-size: 18px;
    margin: 0;
    color: rgb(192, 206, 253);
    white-space: pre-line;
  }

  a {
    color: #8e8db6;
  }

  img {
    display: flex;
    flex-direction: column;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 4px;
  }
  
  #location-row {
    align-items: start;
}

  .info-column {
    width: 50%;
  }

  .info-type-row {
    display: flex;
    align-items: center;
  }

  .locations {
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-bottom: 0;
  }

  .mail,
  .phone {
    padding-top: 3px;
  }

  .phone-number {
    color: white; /* Inherit text color of parent element. */
    text-decoration: none; /* Remove underline. */
    /* Additional css `propery: value;` pairs here */
  }
</style>
