---

---

<div>
  <slot />
</div>

<style>
  div {
    margin:  auto;
    /* padding: 1rem 0; */
    max-width: calc(100% - 40px);
  }

  @media only screen and (min-width: 1440px) {
    div: {
      max-width: 1280px;
    }
  }

  @media (min-width: 48rem) {
    div {
      max-width: calc(100% - 64px);
    }
  }

  @media (min-width: 64rem) {
    div {
      max-width: calc(100% - 128px);
    }
  }

  @media (min-width: 90rem) {
    div {
      max-width: calc(100% - 192px);
    }
  }

  @media (min-width: 104rem) {
    div {
      max-width: 1552px;
    }

    .hero-columns {
      width: 40%;
    }
  }
</style>
