---

---

<div class="hero">
  <slot />
</div>

<style>
  .hero {
    margin: auto;
    width: 100%;
    /* padding: 1rem 0; */
    max-width: calc(100% - 40px);
  }

  @media only screen and (min-width: 1440px) {
    .hero: {
      max-width: 1280px;
    }
  }

  @media (min-width: 48rem) {
    .hero {
      max-width: calc(100% - 64px);
    }
  }

  @media (min-width: 64rem) {
    .hero {
      max-width: calc(100% - 128px);
    }
  }

  @media (min-width: 90rem) {
    .hero {
      max-width: calc(100% - 192px);
    }
  }

  @media (min-width: 104rem) {
    .hero {
      max-width: 1552px;
    }

    .hero-columns {
      width: 40%;
    }
  }
</style>
